#set($assets="$root/assets")
#set($uiroot="$root/system/ui")
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="$assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <title>#if($pageTitle) $pageTitle #else Data management system #end</title>
    <link href="$assets/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">


    #if($extraCSS)
      #foreach($file in $extraCSS.split(","))
        <link type="text/css" rel="stylesheet" href="$assets/css/$file" />
      #end
    #end

    #if($extraCSSRaw)
      #foreach($file in $extraCSS.split(","))
        <link type="text/css" rel="stylesheet" href="$file" />
      #end
    #end

    <link href="$assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="$assets/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="$assets/css/dms.css" rel="stylesheet">
    
    <script type="text/javascript" src="$assets/js/jquery-1.10.2.min.js"></script>
  </head>

  <body>

    <div id="wrapper">
