
#set($res = $source.getNode($resource))

<h2>Resource: $res.label</h2>

<p>URI: #link($resource)</p>

<div class="row">
    <div class="col-md-offset-1 col-md-10">
        #restable($res, "table-condensed table-bordered")
    </div>
</div>


<h3>This resource is:</h3>
<div class="row">
    <div class="col-md-offset-1 col-md-10">

      <table class="table table-bordered table-striped">
##        <thead><tr><th>Resource</th><th>Property</th><th>Value</th></tr></thead>
          <tbody>
          #foreach($pv in $res.listInLinks())
              #if($pv.getProp().uRI != "http://www.w3.org/1999/02/22-rdf-syntax-ns#first")
              <tr>
                  <td> #render($pv.getProp()) </td>
                  <td>of</td>
                  <td>
                      #foreach($v in $source.label( $pv.getValues() ))
                          #if( $foreach.count > 500 )
                         ... 
                         #break  
                       #end
                       #resentry($v)#if( $foreach.hasNext )| #end
                    #end
                    <br />
                  </td>
              </tr>
              #end
          #end
          </tbody>
      </table>
    </div>
</div>