#set($pageTitle = "DMS - " + $service.label + " - " + $tier.label)
#parse("header.vm")
#parse("navbar.vm")

#set($psRoot="$root/services/$service.shortID/publicationSets/$pset.shortID")


#if ($tier.state.name() == "Ready")
<div id="terminate-dialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Are you sure you want to terminate this entier tier?</h3>
            </div>
            <div class="modal-body">
                <form class="inline form-inline" role="form" action="$tier.shortID/terminate" method="post">
                    <button type="submit" class="btn btn-danger">Terminate All</button>
                </form>
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
            </div>
        </div>
    </div>
</div>
#end

<div id="page-wrapper" role="main">
    <div class="container-fluid">
        <ol class="breadcrumb" role="menubar">
            <li><a href="$root/services"><i class="fa fa-bars"></i></a></li>
            <li><a href="$root/services/$service.shortID">$service.label</a></li>
            <li><a href="$psRoot">$pset.label</a></li>
            <li class="active"><a href="$tier.shortID">$tier.label</a></li>
        </ol>   

        <h1 class="page-header">Server Tier: $tier.label</h1>
        <p>$tier.description</p>

        <h2>Status</h2>
        #set($status = $tier.status)
        <span #if($status.status == "Error")class="text-danger"#end>$status.status ($status.message)</span>


        <h2>Operations</h2>
        <div>
            #if ($tier.state.name() != "Ready")
            <form class="inline form-inline" role="form" action="$tier.shortID/operate" method="post">
                <input type="hidden" name="operation" value="prepareTier">
                <button type="submit" class="btn btn-default">Prepare tier</button>
            </form>
            #end
            <form class="inline form-inline" role="form" action="$tier.shortID/clearState" method="post" >
                <button type="submit" class="btn btn-default">Clear tier state</button>
            </form>
            
            #foreach($op in $tier.listOperations())
                #if($op.isTierOnly())
                    <form class="inline form-inline" role="form" action="$tier.shortID/operate" method="post">
                        <input type="hidden" name="operation" value="$op.operationName">
                        <button type="submit" class="btn btn-default">$op.label</button>
                    </form>
                #end
            #end

            #if ($tier.state.name() == "Ready")
                <form class="inline form-inline" role="form" action="$tier.shortID/operateAll" method="post">
                    <input type="hidden" name="operation" value="configure">
                    <button type="submit" class="btn btn-default">Configure all</button>
                </form>
            #end

            <form class="inline form-inline" role="form" action="$tier.shortID/addServer" method="post">
                <button type="submit" class="btn btn-default">Add server</button>
            </form>

            #if ($tier.state.name() == "Ready")
            <button class="btn btn-danger" href="#terminate-dialog" data-target="#terminate-dialog" data-toggle="modal">Terminate All</button>
            #end
        </div>

        <h2>Apply to all servers</h2>
        <div>
            #foreach($op in $tier.listOperations())
                #if( ! $op.isTierOnly())
                    <form class="inline form-inline" role="form" action="$tier.shortID/operateAll" method="post">
                        <input type="hidden" name="operation" value="$op.operationName">
                        <button type="submit" class="btn btn-default">$op.label</button>
                    </form>
                #end
            #end
        </div>

        <h2>Servers</h2>
        <p>Suspend a server to see repair or other actions.</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Server</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                #foreach($server in $tier.listServers())
                    #if ($server.status != "Terminated")
                    <tr>
                        <td><a href="$tier.shortID/servers/$server.name">$server.name</a></td>
                        <td>$server.status ($server.message)</td>
                        <td>
                            #if ($server.status == "Running")
                            <form class="inline form-inline" role="form" action="$tier.shortID/servers/$server.name/suspend" method="post">
                                <button type="submit" class="btn btn-default">Suspend</button>
                            </form>
                            #else
                            <form class="inline form-inline" role="form" action="$tier.shortID/servers/$server.name/activate" method="post">
                                <button type="submit" class="btn btn-default">Activate</button>
                            </form>
                            <form class="inline form-inline" role="form" action="$tier.shortID/servers/$server.name/operate" method="post">
                                <input type="hidden" name="operation" value="configure">
                                <button type="submit" class="btn btn-default">Configure</button>
                            </form>
                            #end
                            <form class="inline form-inline" role="form" action="$tier.shortID/servers/$server.name/backup" method="post">
                                <button type="submit" class="btn btn-default">Backup data</button>
                            </form>
                            #foreach($op in $tier.listOperations())
                                #if(!$op.isTierOnly())
                                    <form class="inline form-inline" role="form" action="$tier.shortID/servers/$server.name/operate" method="post">
                                        <input type="hidden" name="operation" value="$op.operationName">
                                        <button type="submit" class="btn btn-default">$op.label</button>
                                    </form>
                                #end
                            #end
                        </td>
                    </tr>
                    #end
                #end
            </tbody>
        </table>

        <h2>Monitoring</h2>

        #set($lbID = "${lib.strLimit($service.shortID,8)}.${lib.strLimit($pset.shortID,8)}.${lib.strLimit($tier.shortID,8)}")
        #set($tierID = "${service.shortID}.${pset.shortID}.${tier.shortID}")

        <img src="/graphite/render/?width=400&height=240&_salt=$lib.now()&target=AWScloudwatch.ELB.${lbID}.LB.HealthyHostCount.Minimum&target=AWScloudwatch.ELB.${lbID}.LB.UnHealthyHostCount.Maximum&areaMode=stacked&lineMode=staircase&title=Host%20count&yMin=0&colorList=green,red">

        <img src="/graphite/render/?width=400&height=240&_salt=$lib.now()&lineMode=staircase&areaMode=all&title=LB%20Requests%20and%20failures&target=AWScloudwatch.ELB.${lbID}.LB.RequestCount.Sum&target=AWScloudwatch.ELB.${lbID}.LB.HTTPCode_Backend_2XX.Sum&target=AWScloudwatch.ELB.${lbID}.LB.HTTPCode_Backend_4XX.Sum&target=AWScloudwatch.ELB.${lbID}.LB.HTTPCode_Backend_5XX.Sum&yMin=0">

        <img src="/graphite/render/?width=400&height=240&_salt=$lib.now()&target=serverMetrics.${tierID}.*.load.load.shortterm&yMin=0&title=Server%20load">

    </div> <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

#parse("footer.vm")